@model List<Car>
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["PageTitle"];
}
<link href="~/lib/jQuery/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/lib/jQuery/jquery.dataTables.min.js"></script>
<div>
    <h4>
        
    </h4>

    <a asp-controller="home" asp-action="create" class="btn btn-secondary">@Localizer["AddNewCar"]</a>
</div>
<div>
    <table class="table table-striped" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>@Localizer["CarName"]</th>
                <th>@Localizer["Price"] </th>
                <th>@Localizer["Navigation"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ToList())
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.CarName</td>
                    <td>@item.Price</td>
                    <td>
                        <a asp-controller="home" asp-action="update" asp-route-id="@item.Id">@Localizer["Update"]</a>
                        <a asp-controller="home" asp-action="delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            ('#myTable').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWith": true,
                "pageLength": true,
                "lengthMenu": [10, 20, 50, 100],
                "order":[[0,"asc"]]
            });
        });
    </script>
}
